<div class="container">
<a (click)="verVotos()" class="waves-effect waves-green btn-flat">Ver votos</a>
    <div class="row">
    <ng-container *ngFor="let item of lstCategorias | async">
    <div class="col s12 m6 categoria">
    <div class="card horizontal hoverable z-depth-2" data-target="modal1" (click)="showModal('modal1',item.$key)">
      <div class="card-stacked">
        <div class="card-content">
        <img src="{{item.img}}" class="imgcate">
          <p class="center-align" style="font-weight: bold;">{{item.nombre}}
          </p>
           <p class="center-align" style="font-weight: bold;font-size:.8em;">Total Votos: {{item.votos}}
          </p>
         </div>
      </div>
    </div>
    </div>
    </ng-container>
    </div>
</div>
<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
       <div class="row">
        <ng-container  *ngFor="let art of lstArtista | async">
<div class="col s12 m6">
    <div class="card horizontal hoverable" style="height: 100px;">
      <div class="card-stacked">
        <div class="card-content">
          <p class="center-align">{{art.nombre}}
           <a (click)="validaUser($event,art.$key)" href="" class="right">
           <i class="material-icons">favorite_border</i>
         </a>
          </p>
         </div>
      </div>
    </div>
  </div>
        </ng-container>
      </div>
    <div class="modal-footer">
      <a onclick="$('#modal1').modal().modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>

</div>
