  <nav *ngIf="isLoggedIn" class="purple nav-fixed">
      <div class="nav-wrapper">
        <a class="brand-logo logo premios">Nucleo Urbano</a>
        <a data-activates="mobile-demo" class="button-collapse menuCursor"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
          <li><a>{{email}}</a></li>
          <li><a (click)="logout()">Salir</a></li>
        </ul>
         <ul class="side-nav" id="mobile-demo">
          <li><a>{{email}}</a></li>
          <li><a (click)="logout()">Salir</a></li>
      </ul>
      </div>
</nav>
  <div>
  <router-outlet></router-outlet>
  </div>

